{% extends 'base/base.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Product</th>
      <th scope="col">Price $</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}$</td>
        <td><a href="{{ product.get_absolute_url }}">Details -&gt;</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
